<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.HotelMapper">
    <insert id="addHotel" parameterType="Hotel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO hotel ( city, name, address, zip) VALUES (#{city}, #{name}, #{address},#{zip});
    </insert>

    <update id="updateHotel" parameterType="Hotel">
        UPDATE hotel
        <set>
            <if test="city != null">city=#{city},</if>
            <if test="name != null">name=#{name},</if>
            <if test="address != null">address=#{address},</if>
            <if test="zip != null">zip=#{zip}</if>
        </set>
        WHERE id=#{id}
    </update>
    <select id="getHotel" resultType="Hotel">
        SELECT * FROM hotel WHERE id=#{id}
    </select>

    <delete id="deleteHotel">
        DELETE FROM hotel WHERE id=#{id}
    </delete>
</mapper>